@page "/category/{Slug}"
@using BlogApp.Contract.Models
@using BlogApp.Web.Services
@inject IBlogService BlogService

@if (category == null)
{
    <p>Loading...</p>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 col-md-offset-2">
                <div class="mainheading">
                    <div class="row post-top-meta authorpage">
                        <div class="col-md-10 col-xs-12">
                            <h1>@category.Name</h1>
                            <span class="author-description">
                                @category.Description
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <PostList Posts="@category.Posts" />
}

@functions
{
[Parameter]
public string Slug { get; set; }

protected CategoryModel category = null;

protected override async void OnInit()
{
    category = await BlogService.GetCategoryAsync(Slug);
}
}
