@inherits BlazorLayoutComponent

<NavigationMenu OnSearch="@OnSearch" />

@Body

<div class="container">
    <div class="footer">
        <p class="pull-left">
            Copyright &copy; 2018 PeaceCwz
        </p>
        <p class="pull-right">
            Mediumish Theme by <a target="_blank" href="https://www.wowthemes.net">WowThemes.net</a>
        </p>
        <div class="clearfix"></div>
    </div>
</div>

@functions
{

    protected void OnSearch(string value)
    {
        Console.WriteLine(value);
    }

}
